<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link
    rel="shortcut icon"
    <%# source: https://fonts.google.com/icons?selected=Material+Symbols+Outlined:forum:FILL@0;wght@400;GRAD@0;opsz@24&icon.query=message&icon.size=24&icon.color=%235f6368 %>
    href="/forum_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.png"
    type="image/x-icon"
  />
  <link rel="stylesheet" href="/style.css" />
  <script src="./script.js"></script>
  <title>Mini Message Board</title>
</head>
