body {
  margin: 0;
}

button {
  background-color: #00000022;
  border: 1px solid #000000;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: bold;
  justify-self: center;
  padding: 0.75vmin 1vmin;
}

button:hover {
  background-color: #fbff0087;
}

fieldset {
  border-radius: 0.5rem;
  display: grid;
  gap: 2vh;
  width: max-content;
}

fieldset > *:first-child {
  max-width: 225px;
}

form {
  margin: 5vh 2vw;
}

h1 {
  font-size: 1.5rem;
  font-weight: 100;
  margin: 2vh 2vw;
  padding: 0;
}

input,
textarea {
  border: 1px solid #000000;
  border-radius: 0.25rem;
  padding: 0.25rem;
  resize: none;
}

label {
  display: grid;
}

.message {
  background-color: #ffffff00;
  border: 1px solid #00000044;
  border-radius: 0.5rem;
  display: grid;
  gap: 0.25vh;
  justify-self: stretch;
  padding: 1vh 1vw;
}

.message > div {
  font-family: Garamond, serif;
  font-weight: 300;
}

.message > div:nth-child(2) {
  font-weight: bold;
  justify-self: center;
}

.message > div:last-child {
  justify-self: end;
}

.messageList {
  display: grid;
  gap: 1vh;
  justify-items: center;
  max-width: 90vw;
  margin: 5vh 5vw;
  padding: 0;
  width: max-content;
}

nav ul {
  align-content: center;
  align-items: center;
  background-color: #00000022;
  display: flex;
  font-size: 1.25rem;
  gap: 2vw;
  list-style-type: none;
  margin: 0;
  padding: 1vh 1vw;
  width: 100vw;
}

nav ul a {
  border-radius: 0.25rem;
  color: #000000;
  text-decoration: none;
}

nav ul a:visited {
  color: #000000;
}

textarea {
  height: 10vh;
  width: max(250px, 50vw);
}
